.loading_wrapper > div {
    visibility: visible !important;
    //opacity: 0.3;
}

.top_bar {
    display: flex;
    align-items: center;
    background-color: #b1e2b3;
}

.elevated {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rounded-1 {
    border-radius: 4px;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.top_bar_title {
    text-align: left;
    margin: 0px 8px;
}

.title {
    margin: 0px 8px 4px 8px;
}

#initial-debug {
    margin: 0px 8px;
    flex-grow: 1;
}

